.DS_Store
.cache
~*
node_modules
*.out
.idea
tmp_*
build
*-temp
__pycache__
venv/
.venv/
docs/MASVS
docs/MASTG
docs/MASWE
docs/assets/Images
docs/assets/MASVS/Images
docs/contributing/writing-content
OWASP_MASVS.yaml
cross_references.yaml
.vscode/settings.json
site/
.cache/
repos/
